<script setup>
  const { data: categories } = await useAsyncData('navigation', () => fetchContentNavigation('/'))
</script>

<template>
  <nav>
    <a class="brand" href="/">
      <span>My Content</span>
    </a>

    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">menu</label>

    <div class="menu">
      <NavLink class="pseudo button" v-for="item in categories" :key="item._path" :href="item._path">{{ item.title }}</NavLink>
    </div>
  </nav>
  <NuxtPage />
</template>
