<script setup>
  const route = useRoute();
  let cat = null;
  if (route.path.length > 1) {
    cat = route.path.split('/')[1];
  }
  const { data: subNavigation } = await useAsyncData('subNavigation', () => fetchContentNavigation(cat))
</script>

<template>
  <main id="home" class="documentation" v-if="cat">
    <section class="flex five">
      <aside class="full fifth-1000"><h2>Contents</h2>
        <div v-if="route.path.length" class="links flex two three-500 five-800 one-1000">
          <div v-for="item in subNavigation[0].children" :key="item._path">
<!--            <a class="pseudo button" :href="item._path">{{ item.title }}</a>-->
            <AccordionLink :to="item._path" class="pseudo button">{{ item.title }}</AccordionLink>
          </div>
        </div>
<!--        <a tabindex="-1" class="top pseudo button">▲ Up you go ▲</a>-->
      </aside>
      <article class="full four-fifth-1000">
        <ContentDoc/>
      </article>
    </section>
  </main>
  <main v-else>
    <section>
      <div id="content" class="visual flex one two-800" >
        <ContentDoc/>
      </div>
    </section>
  </main>
</template>